.header {
  align-items: center;
  background-color: #359939;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 50px;
}

.logoHeader {
  height: 100px;
  padding: 1rem;
}

.valueContainer {
  align-items: center;
  border: solid white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.valueContainer div {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.value {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(49, 49, 49);
  color: white;

  /* display: flex;
  justify-content: center; */
}

.loginConteiner {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logoName {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.Login {
  align-items: center;
  background-color: rgb(51, 51, 51);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin-top: 30px;
  width: 300px;
}

.formLogin {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inputLogin {
  border-radius: 5px;
  height: 30px;
  margin: 7px;
}

.buttonLogin {
  background-color: #359939; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin-top: 15px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
}

.buttonDespesa {
  background-color: #359939; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  margin-top: 15px;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
}

.buttonLogin:hover {
  background-color: #0a4d0d; /* Green */
}

.buttonLogin:disabled {
  background-color: #88bd89; /* Green */
}

.buttonDespesa:hover {
  background-color: #0a4d0d; /* Green */
}

.buttonDespesa:disabled {
  background-color: #88bd89; /* Green */
}

.table {
  border: solid 2px #359939;
  padding: 5px;
}

.walletApp {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.despTable {
  border: solid 2px white;
  padding: 5px;
}

table button {
  background-color: red;
  border: none;
  color: white;
  padding: 0.3rem;
}
